DATABASE_URL=postgresql://postgres:Ametepe1920@localhost:5432/bestoddsgh
JWT_SECRET=MP_LORD_PRIII_ADMIN
EMAIL_USER=bestoddsbookings@gmail.com
EMAIL_PASS=lshtynhxyryhvrmf
APP_URL=http://localhost:5000
